<html>
    <head>
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link href="/css/confirmation.css" rel="stylesheet">
        <script src="js/jquery-3.6.0.min.js"></script>
    </head>
    <body class="d-flex align-items-center justify-content-center">
      <div class="card p-5">
        <h5 class="card-header">Booking confirmed!</h5>
        <div class="card-body">
          <p class="card-text">Your reservation request has been confirmed. Please review the details of your booking.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Full Name: <strong><%=firstName%> <%=lastName%></strong></li>
          <li class="list-group-item">Email: <strong><%=email%></strong></li>
          <li class="list-group-item">Booking Confirmation Code: <strong><%=bookingCode%></strong></li>
          <li class="list-group-item justify-content-between d-flex flex-row">
            <div>
              <h5>Check-in</h5>
              <p>05/05/22</p>
            </div>
            <div>
              <p>></p>
            </div>
            <div>
              <h5>Check-out</h5>
              <p>08/05/22</p>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Rooms in reservation:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between order-md-last">
                <span class="me-auto">Total (USD)</span>
                <strong>$</strong>
                <strong class="cart-total-sum"><%=totalCost%></strong>
              </li>
              <%for (var i = 0; i < rooms.length; i++) {%>                
                <li class="list-group-item d-flex lh-sm">
                    <h6 class="me-auto"><%=rooms[i].roomType%></h6>
                    <div class="text-muted">$<%=rooms[i].cost%></div>
                </li>
              <%}%>
            </ul>
          </li>
        </ul>
        <button class="w-100 btn btn-primary btn-lg"
                                type="submit">Continue to personal space</button>
      </div>
    </body>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>