<html>
    <head>
        <%- include('partials/head', {title:'Confirmation'}); %>
        <link href="/css/confirmation.css" rel="stylesheet">
    </head>
    <header id="headerNav">
      <%- include('partials/header'); %>
    </header>
    <body class="bg-light">

      <!-- Rating popup -->
      <div class="modal fade" id="rateModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="rateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered"">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="rateModalLabel">Rate us!</h1>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-status d-flex flex-column justify-content-center align-items-center">
              <h6>Did you enjoyed the process? How did you heard about us?</h6>
              <h6>Leave us a rating and let us know!</h6>
              <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
              </div>
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea rows="5" class="form-control" id="message-text"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="sendRatingButton" type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <div class="card p-5">
          <h5 class="card-header">Booking confirmed!</h5>
          <div class="card-body">
            <p class="card-text">Your reservation request has been confirmed. Please review the details of your booking.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li id="fullName" class="list-group-item">Full Name: <strong><%=firstName%> <%=lastName%></strong></li>
            <li class="list-group-item">Email: <strong><%=email%></strong></li>
            <li class="list-group-item">Booking Confirmation Code: <strong><%=bookingCode%></strong></li>
            <li class="list-group-item justify-content-between d-flex flex-row">
              <div>
                <h5>Check-in</h5>
                <p>05/05/22</p>
              </div>
              <div>
                <p>></p>
              </div>
              <div>
                <h5>Check-out</h5>
                <p>08/05/22</p>
              </div>
            </li>
            <li class="list-group-item">
              <h5>Rooms in reservation:</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between order-md-last">
                  <span class="me-auto">Total (USD)</span>
                  <strong>$</strong>
                  <strong class="cart-total-sum"><%=totalCost%></strong>
                </li>
                <%for (var i = 0; i < rooms.length; i++) {%>                
                  <li class="list-group-item d-flex lh-sm">
                      <h6 class="me-auto"><%=rooms[i].roomType%></h6>
                      <div class="text-muted">$<%=rooms[i].cost%></div>
                  </li>
                <%}%>
              </ul>
            </li>
          </ul>
          <form method="GET" action="/login">
            <button class="w-100 btn btn-primary btn-lg" 
              type="submit">Continue to personal space</button>
          </form>
        </div>
      </div>
    </body>
    <footer>
      <%- include('partials/footer'); %>
    </footer>
    <%- include('partials/scripts'); %>
    <script src="/js/confirmation.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</html>