<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head', {title:'Guest Panel'}); %>
        <link rel="stylesheet" type="text/css" href="/css/personal.css" />
    </head>
    <body>
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                  <h5 class="text-white h4">Guest Space</h5>
                  <span style="cursor:pointer;" onclick="" class="text-muted">Main</span></br>
                  <span style="cursor:pointer;" onclick="document.location.href='/personal/chats'" class="text-muted">Chats</span></br>
                  <span style="cursor:pointer;" onclick="document.location.href='/spa'" class="text-muted">SPA</span></br>
                  <span style="cursor:pointer;" onclick="document.location.href='/'" class="text-muted">Home</span>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="n1avbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
        </div>
        <div class="row">
          <div class="col-3 ms-3 mt-3">
              <div id="list-example" class="list-group">
                  <a class="list-group-item list-group-item-action" href="#list-item-1">Profile</a>
                  <a class="list-group-item list-group-item-action" href="#list-item-2">Billing Info</a>
                  <a class="list-group-item list-group-item-action" href="#list-item-3">My Orders</a>
                  <a class="list-group-item list-group-item-action" href="#list-item-4">My Offers</a>
              </div>
          </div>
          <div class="col-8 ms-3 mt-3">
              <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                  class="scrollspy-example" tabindex="0">
                  <h4 id="list-item-1">Profile</h4>
                  <p>
                  <div class="row" style="height:100%">

                      <div class="col-md-9">

                          <div class="container">

                              <form>

                                  <div class="form-group">

                                      <label for=fullName>Full Name</label>
                                      <input type="text" class="form-control" id="fullName">

                                  </div>
                                  <div class="form-group">

                                      <label for=email>Email</label>
                                      <input type="email" class="form-control" id="email">

                                  </div>
                                  <div class="form-group">

                                      <label for=pass>New Password</label>
                                      <input type="password" class="form-control" id="pass">

                                  </div>
                                  <div class="form-group">

                                    <label for=confirmPass>Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPass">

                                </div>

                                  <div class="row mt-5">

                                      <div class="col">

                                          <button type="button" class="btn1" id="btnSaveChanges">Save Changes</button>

                                      </div>

                                      <div class="col">

                                          <button type="button" class="btn1 btn-block">Cancel</button>

                                      </div>

                                  </div>

                              </form>

                          </div>

                      </div>

                  </div>

              </div>

          </div>

      </div>
      <h4 id="list-item-2">Billing Info</h4>
      <p>...</p>
      <h4 id="list-item-3">My Orders</h4>
      <% if(orders) { %> 
          <table class="table table-bordered">
              <thead class="bgcolor" style="color:white;">
              <tr >
                  <th scope="col">Order #</th>
                  <th scope="col">totalCost</th>
                  <th scope="col">total rooms</th>
                  <!-- <th>checkinDate</th> -->
                  <!-- <th>checkoutDate</th> -->
                  <th scope="col">createdAt</th>
              </tr>
          </thead>
                <% for(var i= 0; i< orders.length; i++){ %>
                      <tr>
                          <td><%= orders[i]._id %></td>
                          <td><%= orders[i].totalCost %></td>
                          <td><%= orders[i].rooms.length %></td>
                          <!-- <td><%= (new Date(orders[i].checkinDate)) %></td> -->
                          <!-- <td><%= (new Date(orders[i].checkoutDate)) %></td> -->
                          <td><%= orders[i].createdAt %></td>
                      </tr>    
              <%  }  %>

                  </table>
      <%} else { %>
          <p>No orders yet.</p>
      <% } %>
      <h4 id="list-item-4"></h4>
      <p>
          <!-- special Offers-->
      <section class="offer top" id="offer">
          <div class="container">
              <div class="heading_top flex1">
                  <div class="heading">
                      <h2>My Offers</h2>
                  </div>
              </div>

              <div class="content grid">
                  <div class="box">
                      <div class="img">
                          <img class="image_img" src="images/landingPage/honeymoon.jpg" alt="">
                      </div>
                      <div class="text">
                          <h3>Honeymoon Getaway</h3>
                          <p><span>up to</span> 30%<span> off!</span> </p>
                      </div>
                  </div>
                  <div class="box">
                      <div class="img">
                          <img src="images/landingPage/summeroffer.jpg" alt="">
                      </div>
                      <div class="text">
                          <h3>Summer Offer</h3>
                          <p><span>Starts From </span> <span>$</span>299 <span>/per night</span> </p>
                      </div>
                  </div>
                  <div class="box">
                      <div class="img">
                          <img src="images/landingPage/spa.jpg" alt="">
                      </div>
                      <div class="text">
                          <h3>Spa Offer</h3>
                          <p><span>Starts From </span> <span>$</span>99 </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <!-- special Offers-->
      </p>    
   </body>
   <footer>
    <%- include('partials/footer'); %>
   </footer>
   <%- include('partials/scripts'); %>
   <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
   <script src="/js/guest-panel.js"></script>
</html>