<html>
    <head>
        <%- include('partials/head', {title: "Reservation"}); %>
        <link href="css/reservation.css" rel="stylesheet">
    </head>
    <header id="headerNav">
      <%- include('partials/header'); %>
    </header>
    <body class="bg-light">
      <!-- Modal -->
      <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title modal-title-status" id="previewModalLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="previewCarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#previewCarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#previewCarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#previewCarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#previewCarouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#previewCarouselIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#previewCarouselIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <image class="modal-body-image"></image>
              <p class="modal-body-text"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="col-md-3 col-lg-2 m-5">
          <h4 class="d-flex justify-content-evenly align-items-center mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill cart-items-counter">0</span>
          </h4>
          <form action="/orders/payment" method="post">
            <input id="checkInDateInput" type="hidden" name="checkInDate" value="<%=checkInDate%>"/>
            <input id="checkOutDateInput" type="hidden" name="checkOutDate" value="<%=checkOutDate%>"/>
            <ul class="list-group mb-3 cart-list">
              <li class="list-group-item d-flex justify-content-between order-md-last">
                <span class="me-auto">Total (USD)</span>
                <strong>$</strong>
                <strong class="cart-total-sum">0</strong>
              </li>
            </ul>
            <div class="d-grid">
              <button id="checkoutBtn" type="submit" class="btn btn-primary">Continue to checkout</button>
            </div>
          </form>
        </div>
        <div class="container mt-5 h-75 w-75">
            <div class="row g-2 g-lg-3 suite-area">
                <div>
                    <div class="p-3 border bg-info text-center rounded fw-bold">&nbsp;Ocean line</div>
                </div>
                
            </div>

            <div class="row g-1 g-lg-1">
                <div class="col col-nonactive">
                  <div class="p-1">&nbsp;</div>
                </div>
            </div>

            <div class="row g-2 g-lg-3 exclusive-area">
              <!--
                <div class="col col-nonactive">
                    <div class="p-3 border bg-light text-center rounded fw-bold">&nbsp;Food<br>Court 1<br></div>
                </div>

                <div class="col col-nonactive">
                  <div class="p-3 border bg-light text-center rounded fw-bold">&nbsp;Food<br>Court 2<br></div>
                </div>
                -->
            </div>

            <div class="row g-1 g-lg-1">
                <div class="col col-nonactive">
                  <div class="p-1">&nbsp;</div>
                </div>
            </div>

            <div class="row g-2 g-lg-3 family-area">
            </div>

            <div class="row g-1 g-lg-1">
                <div class="col col-nonactive">
                  <div class="p-1">&nbsp;</div>
                </div>
            </div>

            <div class="row g-2 g-lg-3 standard-area">
            </div>
        </div>
      </div>
    </body>
    <footer>
      <%- include('partials/footer'); %>
    </footer>
    <%- include('partials/scripts'); %>
    <script src="js/reservation.js"></script>
    <script type="text/html" id="cart-item-template">
      <li class="list-group-item d-flex lh-sm">
        <h6 class="me-auto">{type}</h6>
          <div class="text-muted">${price}</div>
          <button type="button" class="btn" id="deleteButton" onclick="deleteItem(this)" data-price="{price}" data-col-type="{colType}">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-dash-circle btn-outline-danger" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"></path>
              </svg>         
          </button>
          <input type="hidden" name="roomType[]" value="{type}"/>
          <input type="hidden" name="roomPrice[]" value="{price}"/>
      </li>
  </script>
</html>